<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FarmaciaSanAntonio.My.MySettings.FarmSAntonioConnectionString"
            connectionString="Data Source=EDUARDO-PC\SQLEXPRESS;Initial Catalog=FarmSAntonio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmaciaSanAntonio.My.MySettings.FarmSAntonioConnectionString1"
            connectionString="Data Source=DESKTOP-7P5KUCB\SQLEXPRESS;Initial Catalog=FarmSAntonio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmaciaSanAntonio.My.MySettings.FarmSAntonioConnectionString2"
            connectionString="Data Source=DESKTOP-0GQC4OM\SQLEXPRESS;Initial Catalog=FarmSAntonio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmaciaSanAntonio.My.MySettings.ConnectionString"
            connectionString="Data Source=DESKTOP-7P5KUCB\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmaciaSanAntonio.My.MySettings.ConexionDeVentas"
            connectionString="Data Source=DESKTOP-7P5KUCB\SQLEXPRESS;Initial Catalog=FarmSAntonioVentas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="FarmaciaSanAntonio.My.MySettings.ConexionDeCompras"
            connectionString="Data Source=DESKTOP-7P5KUCB\SQLEXPRESS;Initial Catalog=FarmSAntonioCompras;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>